/*////////////////////////
    Table of Contents
    1. Global Styles
        1.1 Imports
        1.2 Variables
        1.3 Resets
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Projects
        4.4 Services
        4.5 Contact form
    5. Media Queries
////////////////////////*/


/* //////////1. Global styles////////// */

/* --- 1.1 Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --- 1.2 Variables --- */
:root {
    --text-font: "Roboto", sans-serif;
    --heading-font: "Merriweather", serif;
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-text: #0C0C0C;
    --color-floats:#F2F0FF;
    --color-background-projects: #F3F6F9;
    --color-service-tiles: #7A7A7A;
}

/* --- 1.3 Resets --- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////2. Typography////////// */
html, body {
    font-family: var(--text-font);
    color: var(--color-text);
    font-size: 16px;
}

.nav-menu{
    font-size: 1.2rem;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h1{
    font-size: 3.2rem;
    font-weight: 500;
}

h3{
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 300;
}

button{
    color: inherit;
}

.intro-text {
    font-family: var(--heading-font);
    color: var(--color-purple);
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.4;
}

.contact-text{
    font-size: 1.1rem;
    margin-top: 2rem;
}

.introduction-wrapper a{
    text-decoration: none;
}

.projects-outer p {
    font-weight: 500;
}

.projects-outer a {
    text-transform: uppercase;
    color: var(--color-blue);
    text-decoration: none;
    font-weight: bold;
}

.services-wrapper > article > h2 {
    color: var(--color-blue);
}

.services-wrapper > article p {
    font-weight: 100;
}

form input::placeholder,
form textarea::placeholder{
    font-size: 1rem;
    font-family: var(--text-font);
}
/* //////////3. Layout////////// */

/* --- 3.1 Reusables --- */

.outer-container {
    border: 2px dashed brown;
    display: flex;
    flex-direction: column;
}

.inner-container{
    border:2px dashed red;
    padding: 2rem 0;
    margin: 0 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wrapper-container{
    border:2px dashed yellow;
    max-width: 55rem;
    padding-bottom: 8rem;
    gap: 1.9rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    background-color: var(--color-pink);
    padding: 2rem 4rem;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}



/* --- 3.2 Other --- */

/* //////////4. Areas////////// */

/* --- 4.1 Header --- */

header {
    background: linear-gradient(90deg,var(--color-blue) 0%, var(--color-purple) 100%);
    color: var(--color-floats);
}

header > ul{
    list-style: none;
}

.nav-menu{
    border:2px dashed green;
    display:flex;
    justify-content: flex-end;
    padding: 2rem 4rem;
    gap: 4rem;
}

.header-img{
    border:2px dashed green;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -3.60rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/* --- 4.2 Introduction --- */

.introduction-outer {
    background-color: var(--color-floats);
}

.intro-triangle {
    width: 100%;
    height: 6rem;
    background: linear-gradient(90deg, var(--color-blue) 0%, var(--color-purple) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.introduction-wrapper {
    display: flex;
    padding: 6rem 0;
    gap: 2.5rem;
}

.introduction-inner::before {
    content: "hello";
    position: absolute;
    font-size: 30rem;
    color: var(--color-floats);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.1;
}

.introduction-wrapper {
    position: relative;
    z-index: 1;
}


/* --- 4.3 Projects --- */

.projects-outer {
    background-color: var(--color-background-projects);
}

.projects-inner {
    flex-direction: row;
    justify-content: flex-end;
    gap: 10%;
}

.projects-inner::before {
    content: "work";
    position: absolute;
    font-size: 30rem;
    color: var(--color-floats);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 0;
    opacity: 0.2;
}

.projects-outer article,
.projects-outer .image-wrapper {
    position: relative;
    z-index: 1;
}

.projects-inner:nth-child(even) {
    flex-direction: row-reverse;
}

.projects-outer article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    max-width: 410px;
    border: 2px dashed deeppink;
    flex-shrink: 0;
}

.image-wrapper img{
    width: 100%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}


/* --- 4.4 Services --- */

.services-outer{
    background-color: var(--color-floats);
}

.services-wrapper{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    max-width: 85rem;
    padding:4rem 0;
    margin: 0 auto;
    align-items: stretch;
    flex-wrap: wrap;
}

.services-wrapper > article{
    border: 1px solid var(--color-blue);
    flex-basis: 395px;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 1.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
}

.img-services{
    width: 5rem;
}

.services-inner::before {
    content: "services";
    position: absolute;
    font-size: 30rem;
    color: var(--color-floats);
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 0;
    opacity: 0.2;
}

.services-wrapper {
    position: relative;
    z-index: 1;
}


/* --- 4.5 Contact form --- */

.form-outer{
    background-color: var(--color-blue);
}

form{
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    width: 100%;
    align-items: stretch;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    gap: 0;
}

form input,
form textarea{
    margin-bottom: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

form textarea {
    height: 15rem;
}

form > button{
    background-color: var(--color-pink);
    align-self: center;
}


/* --- 4.6 Footer --- */

footer{
    background-color: var(--text-font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

/* //////////5. Media Queries////////// */