/*////////////////////////
    Table of Contents
    1. Global Styles
        1.1 Imports
        1.2 Variables
        1.3 Resets
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/


/* //////////1. Global styles////////// */

/* --- 1.1 Imports --- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --- 1.2 Variables --- */
:root {
    --text-font: "Roboto", sans-serif;
    --heading-font: "Merriweather", serif;
    --color-purple: #5722CD;
    --color-blue: #4845E4;
    --color-pink: #ED4385;
    --color-text: #0C0C0C;
    --color-floats:#F2F0FF;
    --color-background-projects: #F3F6F9;
    --color-service-tiles: #7A7A7A;
}

/* --- 1.3 Resets --- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////2. Typography////////// */
html, body {
    font-family: var(--text-font);
    color: var(--color-text);
    font-size: 16px;
}

.nav-menu{
    font-size: 1.2rem;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);

}

h1{
    font-size: 3.2rem;
    font-weight: 500;
}

h3{
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 300;
}




/* //////////3. Layout////////// */

/* --- 3.1 Reusables --- */
button{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    background-color: var(--color-pink);
    padding: 2rem 4rem;
    border-radius: 45px;
    box-shadow: 0 8px 15px lightgrey;
}

header {
    color: var(--color-floats);
}

/* --- 3.2 Other --- */

/* //////////4. Areas////////// */

/* --- 4.1 Header --- */

.header-outer-container {
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
}
header > ul{
    list-style: none;
}

.nav-menu{
    border:2px dashed green;
    display:flex;
    justify-content: flex-end;
    padding: 2rem 4rem;
    gap: 4rem;
}

.header-inner-container{
    border:2px dashed red;
    padding-top: 2rem;
    margin: 0 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.header-wrapper{
    border:2px dashed yellow;
    max-width: 55rem;
    padding-bottom: 14rem;
    gap: 1.9rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}



.header-img{
    border:2px dashed green;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;

}

/* //////////5. Media Queries////////// */